<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tarjetas.css">
</head>
<body>
    <main class="Cuerpo">
        <section class="Contenedor Glass">
            <div class="Tarjeta">
                <div class="Imagen">
                    <img src="../Img/Main/Kirito.png" alt="Imagen de Kirito">
                    <img src="../Img/Main/Kirito tarjeta.png" alt="Personaje Kirito" class="Avatar">
                </div>
                <div class="Info">
                    <h2>Kirito</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores numquam molestiae...</p>
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>